<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.galleryproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/game_lauchericon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/game_lauchericon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GalleryProject">
        <activity
            android:name=".EditPic"
            android:label="@string/title_activity_edit_pic"
            android:theme="@style/Theme.GalleryProject.Fullscreen"/>
        <activity
            android:name=".ViewPicture"
            android:label="@string/title_activity_view_picture"
            android:theme="@style/Theme.GalleryProject.Fullscreen"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>